.app__project {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  margin-inline: auto;

  width: 100%;
  max-width: 900px;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 2rem;
}

.app__project-item {
  display: flex;
  flex-direction: column;
}

.app__project-img {
  max-width: 500px;

  img {
    width: 100%;
    border-radius: 15px;
  }
}

.app__project-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .app__project-body {
    .portable-text-container {
      max-width: 500px;
      margin-inline: auto;
      line-height: 2rem;
      text-align: justify;

      h1 {
        font-size: 2.2rem;
      }
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.8rem;
      }
      h4 {
        font-size: 1.6rem;
      }
      h5 {
        font-size: 1.4rem;
      }
      h6 {
        font-size: 1.2rem;
      }
      p,
      li {
        font-size: 1rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-block: 1rem;
        text-align: center;
      }
    }
  }
}

.app__project-tech-stack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;

  .app__project-tech-stack-img {
    width: 30px;
    height: 30px;
    // padding: 1rem;
    // border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    img {
      width: 80%;
      filter: grayscale(1);
    }

    &:hover {
      img {
        filter: grayscale(0);
      }
    }
  }
}

.app__project-body-head {
  text-align: center;
  transition: all 0.3s ease-in-out;

  font-size: 1rem;

  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-size: 1.1rem;
  }

  &:hover {
    a {
      color: black;
    }
  }
}
