@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  /* --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;

  --accent-color: #ff0066; */
}

#dark {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #6b7688;
  --secondary-color: #313bac;

  --white-color: #030303;

  --accent-color: #ff0066;

  --header-bg: url("./assets/outline-blob/bgDark-with-outline-blobs.png");
}

#light {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;

  --white-color: #ffffff;

  --accent-color: #ff0066;
  --header-bg: url("./assets/outline-blob/bgWhite-with-outline-blobs.png");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
